<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyj.hos.dao.DepartmentMapper">
    <select id="selectAllDep" resultType="department">
        select * from t_department
    </select>

    <select id="selectDepById" resultType="department" parameterType="Integer">
        select * from t_department where department_id = #{departmentId}
    </select>

    <select id="selectDepByKey" resultType="department" parameterType="department">
        select * from t_department
        <where>
            <if test="departmentId!='' and departmentId!=null">
                and department_id=#{departmentId}
            </if>
            <if test="departmentName!='' and departmentName!=null">
                and department_name like concat('%',#{departmentName}, '%')
            </if>
        </where>
    </select>

    <select id="selectDepByName" parameterType="String" resultType="String">
        select department_name from t_department where department_name = #{departmentName}
    </select>

    <insert id="insertDep" parameterType="department">
        insert into t_department(department_name, department_details)
        value (#{departmentName}, #{departmentDetails})
    </insert>

    <select id="selectDepName" resultType="String">
        select distinct (department_name) from t_department
    </select>
</mapper>