<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" th:href="@{~/hos/static/css/bootstrap.css}" href="../css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{~/hos/static/css/index.css}" href="../css/index.css"/>
		<script type="text/javascript" th:src="@{~/hos/static/js/jquery-3.4.1.min.js}" src="../js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" th:src="@{~/hos/static/js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
        <script src="../js/check.js" th:src="@{~/hos/static/js/check.js}"></script>
    </head>
	<body>
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					 aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">校医院门诊系统</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
                        <span class="navbar-text">当前时间：</span>
                        <span id="currentTime" class="navbar-text" style="margin: 15px 0px"></span>
                        <span class="navbar-text" style="margin-right: 0px">欢迎你：</span>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<div th:text="${session.currentUser.userName}" style="display: inline"></div>
								<span class="glyphicon glyphicon-chevron-right"></span></a>
							<ul class="dropdown-menu">
								<li><a href="medicalRecord" target="mainframe" id="myRec">我的病历</a></li>
								<li><a href="myPrescription" target="mainframe" id="myPre">我的处方</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{~/hos/logout}"><span class="glyphicon glyphicon-log-out"></span> 注销</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<h3 class="title"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;<span th:text="${session.currentUser.userType}"></span></h3>
					<ul class="nav nav-sidebar" id="meau">
						<li class="active">
                            <a href="#registration" data-toggle="collapse" class="nav-header" data-parent="hiddendiv" aria-expanded="true">
								<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;挂号
							</a>
							<ul id="registration" class="nav nav-list collapse in" aria-expanded="true">
								<li><a href="registration/registration1.html" th:href="@{registration1}" target="mainframe"><span>预约挂号</span></a></li>
								<li><a href="registration/registrationDetails.html" th:href="@{registrationDetails}" target="mainframe"><span>挂号详情</span></a></li>
							</ul>
						</li>
						<li id="rec" >
							<a href="medicalRecord/medicalRecord.html" th:href="@{medicalRecord}" target="mainframe"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;我的病历</a>
						</li>
						<li id="pre">
							<a href="prescription/myPrescription.html" th:href="@{myPrescription}" target="mainframe"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;我的处方</a>
						</li>
						<li>
							<a href="prescription/myPrescription.html" th:href="@{myBill}" target="mainframe"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;我的账单</a>
						</li>
						<li>
							<a href="#message" data-toggle="collapse" class="nav-header collapsed" data-parent="hiddendiv">
								<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;自助信息查询
							</a>
							<ul id="message" class="nav nav-list collapse secondmenu">
								<li><a href="departmentManager.html" th:href="@{departmentManager}" target="mainframe"><span>科室查询</span></a></li>
								<li><a href="doctorManager.html" th:href="@{doctorManager}" target="mainframe"><span>医生查询</span></a></li>
							</ul>
						</li>
                        <li>
                            <a href="#self" data-toggle="collapse" class="nav-header collapsed" data-parent="hiddendiv">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人中心
                            </a>
                            <ul id="self" class="nav nav-list collapse secondmenu">
                                <li><a href="updateSelf.html" th:href="@{updateSelf}" target="mainframe"><span>个人信息维护</span></a></li>
                                <li><a href="updatePwd.html" th:href="@{updatePwd}" target="mainframe"><span>修改密码</span></a></li>
                            </ul>
                        </li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<iframe id="urlIframe" name="mainframe" src="registration1" frameborder="0" scrolling="no" width="100%" onload="iframeAutoHeight()"></iframe>
				</div>
			</div>
		</div>
	</body>
	<script>
		$(document).ready(function () {
			$.ajax({
				async: false,
				dateType: "text",
				url: "/hos/timeOutReg",
				success: function (data) {
					console.log(data);
                }
			});
			dealTimeOutPre();

            var dateStr = getNowTime();
            // 将时间放置到span内
            $("#currentTime").text(dateStr);
            // 每隔一秒，再放置一次最新的时间
            setInterval(function(){
                $("#currentTime").text(getNowTime());
            },1000);
        });

		function dealTimeOutPre(){
            var time = getCurrentTime();
            var inId = time;
            $.ajax({
                async: false,
                dateType: "text",
                url: "/hos/updateTimeOutPre",
                data:{"inId":inId},
                success: function (data) {
                    console.log(data);
                }
            });
            setTimeout(function() {
                dealTimeOutPre()// 关键处-定时循环调用
            }, 3600000)
        }

		$("#meau li").click(function(e) {
			$("#meau li").removeClass("active");
			$(this).addClass("active");
		});

        $("#myRec").click(function() {
            $("#meau li").removeClass("active");
            $("#rec").addClass("active");
        });

        $("#myPre").click(function() {
            $("#meau li").removeClass("active");
            $("#pre").addClass("active");
        });

		$(function() {
			$(".dropdown").click(function(e) {
				/*切换折叠指示图标*/
				$(this).find("span").toggleClass("glyphicon glyphicon-chevron-up");
				$(this).find("span").toggleClass("glyphicon glyphicon-chevron-down");
			});
		});

        function iframeAutoHeight() {
            var iframe = document.getElementById("urlIframe");
            $("#urlIframe").removeAttr("style"); // 用于清除其它自适应函数的影响
            if (navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("rv:11") > 0 || navigator.userAgent.indexOf(
                "Firefox") > 0) {
                iframe.height = 0;
                iframe.height = iframe.contentWindow.document.body.scrollHeight;
                setTimeout(iframeAutoHeight2, 10);
            } else {
                iframe.height = 0;
                iframe.height = iframe.contentWindow.document.documentElement.scrollHeight;
                setTimeout(iframeAutoHeight2, 10);
            }
        }
        // 再次刷新，确保刷新成功
        function iframeAutoHeight2() {
            var iframe = document.getElementById("urlIframe");
            $("#urlIframe").removeAttr("style"); // 用于清除其它自适应函数的影响
            if (navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("rv:11") > 0 || navigator.userAgent.indexOf(
                "Firefox") > 0) {
                iframe.height = 0;
                iframe.height = iframe.contentWindow.document.body.scrollHeight;
            } else {
                iframe.height = 0;
                iframe.height = iframe.contentWindow.document.documentElement.scrollHeight;
            }
        }

		$(window).resize(function() {
			window.onresize = iframeAutoHeight();
			iframeAutoHeight();
		});
	</script>
</html>
