<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>新增管理员账号</title>
	</head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" th:href="@{~/hos/static/css/bootstrap.css}"/>
	<script src="../js/jquery-3.4.1.min.js" th:src="@{~/hos/static/js/jquery-3.4.1.min.js}"></script>
	<script src="../js/bootstrap.min.js" th:src="@{~/hos/static/js/bootstrap.min.js}"></script>
	<script src="../js/page.js" th:src="@{~/hos/static/js/page.js}"></script>
	<script src="../js/page.js" th:src="@{~/hos/static/js/check.js}"></script>
	<style type="text/css">
		.page-header {
			margin-top: 20px;
			padding-left: 10px;
			border-left: 5px solid #31BCD1;
		}

		.row div {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	</style>
	<body>
		<ol class="breadcrumb">
			<li class="active">新增管理员账号</li>
		</ol>

		<h2 class="page-header">新增管理员账号</h2>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="adminAccount" class="col-sm-2 control-label">管理员账号</label>
				<div class="col-sm-3">
					<input type="text" class="form-control col-lg-4" id="adminAccount" placeholder="请输入账号" onblur="isNullForm(this)">
					<small style="color: #A94442;" hidden><!-- 用于显示错误信息 --></small>
				</div>
			</div>
			<div class="form-group">
				<label for="adminName" class="col-sm-2 control-label">管理员姓名</label>
				<div class="col-sm-3">
					<input type="text" class="form-control col-lg-4" id="adminName" placeholder="请输入姓名" onblur="isNullForm(this)">
					<small style="color: #A94442;" hidden><!-- 用于显示错误信息 --></small>
				</div>
			</div>
			<div class="form-group">
				<label for="adminPwd" class="col-sm-2 control-label">管理员密码</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="adminPwd" placeholder="请输入密码"  onblur="isNullForm(this)">
					<small style="color: #A94442;" hidden><!-- 用于显示错误信息 --></small>
				</div>
			</div>
			<div class="form-group">
				<label for="adminSex" class="col-sm-2 control-label">性别</label>
				<div class="col-sm-3">
					<select class="form-control" id="adminSex">
						<option>男</option>
						<option>女</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default" id="addAdmin">提交</button>
				</div>
			</div>
		</form>
	</body>
	<script type="text/javascript">

        $("#addAdmin").click(function () {
            if (checkForm()==false){
                alert("请正确填写相关信息");
                return false;
            }
            $.ajax({
                async: false,
                type: "get",
                dataType: "text",
                url: "/hos/admin/insertAdmin",
                data:{
                    "adminAccount": $("#adminAccount").val(),
                    "adminName": $("#adminName").val(),
                    "adminSex": $("#adminSex").val(),
                    "adminPwd": $("#adminPwd").val(),
                },
                success: function (data) {
                    if(data=="insert admin success"){
                        alert("插入成功，其它相关信息已提醒用户及时填写");
                    }else if(data=="adminAccount is exist"){
                        $("#adminAccount").parent().attr("class", "col-sm-3 has-error");
                        $("#adminAccount").next().html("(该账号已存在，请重新输入)");
                        $("#adminAccount").next().show();
                        IFrameResize();
                    }else {
                        alert("发生未知错误，请稍后再试");
                    }
                }
            });
        })

        function checkForm() {
            if(isNullForm("#adminAccount")==false){
                return false;
            }
            if (isNullForm("#adminName")==false){
                return false;
            }
            if(isNullForm("#adminPwd")==false){
                return false;
            }
            return true;
        }


    </script>
</html>
