<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>处方记录</title>
	</head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" th:href="@{~/hos/static/css/bootstrap.css}" />
	<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css" th:href="@{~/hos/static/css/bootstrap-datetimepicker.min.css}">
	<script src="../js/jquery-3.4.1.min.js" th:src="@{~/hos/static/js/jquery-3.4.1.min.js}"></script>
	<script src="../js/bootstrap.min.js" th:src="@{~/hos/static/js/bootstrap.min.js}"></script>
	<script src="../js/moment-with-locales.js" th:src="@{~/hos/static/js/moment-with-locales.min.js}"></script>
	<script src="../js/bootstrap-datetimepicker.min.js" th:src="@{~/hos/static/js/bootstrap-datetimepicker.min.js}"></script>
	<script src="../js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8" th:src="@{~/hos/static/js/bootstrap-datetimepicker.zh-CN.js}"></script>
	<script src="../js/page.js" th:src="@{~/hos/static/js/page.js}"></script>
	<script src="../js/check.js" th:src="@{~/hos/static/js/check.js}"></script>
	<style type="text/css">
		.page-header {
			margin-top: 20px;
			padding-left: 10px;
			border-left: 5px solid #31BCD1;
		}

		table button {
			margin: 2px 5px;
		}
	</style>
	<body>
		<ol class="breadcrumb">
			<li class="active">处方记录</li>
		</ol>
		<h2 class="page-header">查询处方记录</h2>
		<div class="row">
			<div class="form-group form-inline col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<label for="prescriptionId">处方编号</label>
				<input type="text" class="form-control" id="prescriptionId" placeholder="请输入处方编号">
			</div>
			<div class="form-group form-inline col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<label for="medicalCard">就诊卡号</label>
				<input type="text" class="form-control" id="medicalCard" placeholder="请输入就诊卡号">
			</div>
			<div class="form-group form-inline col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<label for="recordId">病历编号</label>
				<input type="text" class="form-control" id="recordId" placeholder="请输入病历编号">
			</div>
            <div class="form-group form-inline col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <label for="patientName">患者姓名</label>
                <input type="text" class="form-control" id="patientName" placeholder="请输入患者姓名">
            </div>
			<div class="form-group form-inline col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<label for="startTime">开始时间</label>
				<input type="text" class="form-control" id="startTime" placeholder="点击选择开始时间" aria-describedby="basic-addon1">
			</div>
			<div class="form-group form-inline col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<label for="endTime">结束时间</label>
				<input type="text" class="form-control" id="endTime" placeholder="点击选择结束时间">
			</div>
		</div>
		<div class="row">
			<div class="form-group form-inline col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<button type="button" class="btn btn-default" id="searchPre">查询</button>
			</div>
		</div>

		<h3 class="page-header">查询结果</h3>
		<p class='text-center alert alert-warning' id="nullData" style="display: none">暂无匹配结果</p> <!-- 用于当查询无结果时的提示信息 -->
		<table class="table table-striped table-bordered table-hover" id="tableResult">
			<thead>
				<tr>
					<th>处方编号</th>
					<th>就诊卡号</th>
					<th>患者姓名</th>
					<th>病历编号</th>
					<th>开具日期</th>
					<th colspan="3">操作</th>
					<!-- 可查看病人详情，查看病历，或者查看处方 -->
				</tr>
			</thead>
			<!-- 此处数据展示，SQL语句使用到了多表查询 -->
			<tbody id="result">

			</tbody>
		</table>
		<div class="thePage">
			<nav aria-label="Page navigation" class="text-center" id="pageNav">
				<ul class="pagination" id="pageDetails">

				</ul>
			</nav>
			<p class="text-center alert alert-info">当前 <span id="pageNum"></span> 页，总 <span id="pages"></span> 页，共 <span id="total"></span>
				条记录</p>
		</div>

        <!-- 病人详细信息模态框 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">病人详细信息</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="card" class="col-sm-3 control-label">就诊卡号：</label>
                                <div class="col-sm-9">
                                    <span id="card" class="form-control"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">患者姓名：</label>
                                <div class="col-sm-9">
                                    <span id="name" class="form-control"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="age" class="col-sm-3 control-label">患者年龄：</label>
                                <div class="col-sm-9">
                                    <span id="age" class="form-control"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sex" class="col-sm-3 control-label">患者性别：</label>
                                <div class="col-sm-9">
                                    <span id="sex" class="form-control"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="type" class="col-sm-3 control-label">患者类型：</label>
                                <div class="col-sm-9">
                                    <span id="type" class="form-control"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">联系电话：</label>
                                <div class="col-sm-9">
                                    <span id="phone" class="form-control"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-sm-3 control-label">联系地址：</label>
                                <div class="col-sm-9">
                                    <span id="address" class="form-control"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="history" class="col-sm-3 control-label">既往病史：</label>
                                <div class="col-sm-9">
                                    <textarea rows="3" class="form-control" readonly id="history"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</body>
	<script type="text/javascript">
        $("#startTime").datetimepicker({
            language: "zh-CN",
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true,
            todayBtn: true
        });
        $("#endTime").datetimepicker({
            language: "zh-CN",
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true,
            todayBtn: true
        });
		$(document).ready(function () {
			$.ajax({
				ascyn: false,
				type: "get",
				dataType: "json",
				data: {"doctorId":[[${session.currentDoctor.doctorId}]]},
				url: "/hos/selectPrePatByDocId",
				success: function (data) {
                    showResult(data);
                    showPage(data);// 动态生成页码
                    dealPage(data);// 优化页码
                    IFrameResize();
                }
			});
        })

		function showResult(data) {
            var result = "";
            // 如果查询结果不存在
            if(data.list.length==0){
                $("#nullData").show();
                $("#tableResult").hide();
            }else{
                $("#nullData").hide();
                $("#tableResult").show();
                // 获取分页之后的数据
                for(var i=0;i<data.list.length;i++){
                    result += '<tr>' +
                        '<td>' + data.list[i].prescriptionId + '</td> ' +
                        '<td>' + data.list[i].medicalCard + '</td>'+
                        '<td>' + data.list[i].patient.patientName + '</td>'+
                        '<td>' + data.list[i].recordId + '</td>'+
                        '<td>' + data.list[i].prescriptionTime + '</td>'+
                        '<td>' +
                        '<button class="btn btn-info" data-target="#myModal" data-toggle="modal" onclick="showPatient(\'' + data.list[i].medicalCard + '\')">查看病人详情</button>' +
                        '<button class="btn btn-primary" onclick="toPrescription(\'' + data.list[i].prescriptionId + '\')">查看处方详情</button>' +
                        '</td>' +
                        '</tr>';
                }
                $("#pageNum").text(data.pageNum);
                $("#pages").text(data.pages);
                $("#total").text(data.total);
                $("#result").html(result);
            }
        }
        // 展示患者详细信息
        function showPatient(medicalCard) {
            $.ajax({
                async: false,
                type: "get",
                dataType: "json",
                data: {"medicalCard": medicalCard},
                url: "/hos/selectCard",
                success: function (data) {
                    $("#card").text(data.medicalCard);
                    $("#name").text(data.patientName);
                    $("#sex").text(data.patientSex);
                    $("#age").text(data.patientAge);
                    $("#type").text(data.patientType);
                    $("#phone").text(data.patientPhone);
                    $("#address").text(data.patientAddress);
                    $("#history").text(data.anamnesis);
                }
            });
        }

        // 点击查询按钮，实现模糊查询
        $("#searchPre").click(function () {
            $.ajax({
                async: false,
                type: "get",
                dataType: "json",
                data: {
                    "doctorId":[[${session.currentDoctor.doctorId}]],
                    "prescriptionId": $("#prescriptionId").val(),
                    "medicalCard": $("#medicalCard").val(),
                    "recordId": $("#recordId").val(),
                    "patientName": $("#patientName").val(),
                    "startTime": $("#startTime").val(),
                    "endTime": $("#endTime").val()
                },
                url: "/hos/selectPrePatByKey",
                success: function (data) {
                    showResult(data);
                    showPage(data);// 动态生成页码
                    dealPage(data);// 优化页码
                    IFrameResize();
                }
            });
        })

        // 点击翻页时触发的函数
        function nextPage(page){
            $.ajax({
                async: false,
                type: "get",
                dataType: "json",
                data: {
                    "pageNum": page,
                    "doctorId":[[${session.currentDoctor.doctorId}]],
                    "prescriptionId": $("#prescriptionId").val(),
                    "medicalCard": $("#medicalCard").val(),
                    "recordId": $("#recordId").val(),
                    "patientName": $("#patientName").val(),
                    "startTime": $("#startTime").val(),
                    "endTime": $("#endTime").val()
                },
                url: "/hos/selectPrePatByKey",
                success: function (data) {
                    showResult(data);
                    showPage(data);// 动态生成页码
                    dealPage(data);// 优化页码
                    IFrameResize();
                }
            });
        }
        
        function toPrescription(prescriptionId) {
			window.location.href="/hos/doctor/toPrescriptionDetails?prescriptionId=" + prescriptionId;
        }
	</script>
</html>
