<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<title>选择挂号科室</title>
	</head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" th:href="@{~/hos/static/css/bootstrap.css}"/>
	<script src="../js/jquery-3.4.1.min.js" th:src="@{~/hos/static/js/jquery-3.4.1.min.js}"></script>
	<script src="../js/bootstrap.min.js" th:src="@{~/hos/static/js/bootstrap.min.js}"></script>
	<script src="../js/page.js" th:src="@{~/hos/static/js/page.js}"></script>
	<script src="../js/check.js" th:src="@{~/hos/static/js/check.js}"></script>
	<style type="text/css">
		.page-header {
			margin-top: 20px;
			padding-left: 10px;
			border-left: 5px solid #31BCD1;
		}
		table button{
			margin: 2px 5px;
		}
		.modal.fade.in{
			top:90px;
		}
	</style>
	<body>
		<ol class="breadcrumb">
			<li class="active">选择挂号科室</li>
		</ol>
	
		<h2 class="page-header">查询科室信息</h2>
		<div class="row">
			<div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<label for="departmentId">科室编号</label>
				<input type="text" class="form-control" id="departmentId" name="departmentId" placeholder="请输入科室编号">
			</div>
			<div class="form-group col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<label for="departmentName">科室名称</label>
				<select id="departmentName" class="form-control">
					<option value="">请选择科室名称</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group form-inlin col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<button type="button" class="btn btn-default" id="search">查询</button>
			</div>
		</div>
	
		<h3 class="page-header">查询结果</h3>
		<p class='text-center alert alert-warning' id="nullData" style="display: none">暂无匹配结果</p> <!-- 用于当查询无结果时的提示信息 -->
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>科室编号</th>
					<th>科室名称</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="result">
				<!-- 显示查询结果 -->
			</tbody>
		</table>

		<div class="thePage">
			<nav aria-label="Page navigation" class="text-center" id="pageNav">
				<ul class="pagination" id="pageDetails">

				</ul>
			</nav>
			<p class="text-center alert alert-info">当前 <span id="pageNum"></span> 页，总 <span id="pages"></span> 页，共 <span id="total"></span> 条记录</p>
		</div>

		<!-- 模态框 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">科室详情</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="depId" class="col-sm-3 control-label">科室编号：</label>
								<div class="col-sm-9">
									<span id="depId" class="form-control"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="depName" class="col-sm-3 control-label">科室名称：</label>
								<div class="col-sm-9">
									<span id="depName" class="form-control"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="depDetails" class="col-sm-3 control-label">科室详情：</label>
								<div class="col-sm-9">
									<textarea rows="3" class="form-control" readonly id="depDetails"></textarea>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
					</div>
				</div>
			</div>
		</div>

	</body>

	<script type="text/javascript">
		$("document").ready(function () {
			$.ajax({
                async: false,
				type: "get",
				dataType: "json",
				url: "/hos/selectDepByPage",
				success: function (data) {
					showResult(data); // 展示分页的数据
					showPage(data);// 动态生成页码
					dealPage(data);// 优化页码
                }
            });
            $.ajax({
                async: false,
                type: "get",
                dataType: "json",
                url: "/hos/selectDepName",
                success: function(data) {
                    //循环data
                    $.each(data,function(i,obj){
                        $("#departmentName").append("<option value="+obj+">"+obj);
                    });
                }
            });
        });
		
		$("#search").click(function () {
			$.ajax({
				async: false,
				type: "get",
				dataType: "json",
				data: {"departmentId":$("#departmentId").val(), "departmentName":$("#departmentName").val()},
				url: "/hos/selectDepByKey",
				success: function (data) {
					showResult(data);// 展示分页的数据
					showPage(data);// 动态生成页码
					dealPage(data);// 优化页码
                    IFrameResize();
                }
			});
        });
	
		function showResult(data) {
			var result = null;
			// 如果查询结果不存在
			if(data.list.length==0){
                $("#nullData").show();
                $("table").hide();
			}else{
			    $("#nullData").hide();
                $("table").show();
                // 获取分页之后的数据
                for(var i=0;i<data.list.length;i++){
                    result += '<tr>' +
                        '<td>' + data.list[i].departmentId + '</td> ' +
                        '<td>' + data.list[i].departmentName + '</td>'+
                        '<td>' +
                        '<button type="button" class="btn btn-primary" id="next" onclick="registration(' + data.list[i].departmentId + ')">进行预约</button>' +
                        '<button type="button" class="btn btn-default" onclick="showDepartment('+ data.list[i].departmentId +')" data-target="#myModal" data-toggle="modal" id="details">查看详情</button>' +
                        '</td>' +
                        '</tr>';
                }
                $("#pageNum").text(data.pageNum);
                $("#pages").text(data.pages);
                $("#total").text(data.total);
                $("#result").html(result);
			}
        }

        // 点击触发模态框，从而展示科室的详细信息
		function showDepartment(departmentId) {
			$.ajax({
				async: false,
				dataType: "json",
				type: "post",
				data: {"departmentId": departmentId},
				url: "/hos/selectDepById",
				success: function (data) {
					$("#depId").html(data.departmentId);
                    $("#depName").html(data.departmentName);
                    $("#depDetails").html(data.departmentDetails);
                }
			});
        }

        // 点击翻页时触发的函数
		function nextPage(page){
            $.ajax({
				async: false,
				type: "get",
				dataType: "json",
				url: "/hos/selectDepByPage",
				data: {"pageNum": page},
				success: function(data){
                    showResult(data); // 展示分页的数据
                    showPage(data);// 动态生成页码
                    dealPage(data);// 优化页码
					IFrameResize();
				}
			});
		}

		// 页面跳转
        function registration(departmentId) {
			window.location.href = "/hos/user/toRegistration2WithId?departmentId=" + departmentId;
        }

	</script>
</html>
